.header-contaniner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-heading{
    font-size: 24px;
    color:purple;
    margin:0px;
}
.header-buttons-card{
    padding:0px;
}

.header-tryForFree-button{
    margin:0px;
    color:white;
    border:none;
    border-radius: 6px;
    padding:6px;
    background-color: blue;
    font-weight: bold;
}
.header-logout-button{
    margin:0px;
    margin-left:10px;
    border:1px solid black;
    border-radius: 6px;
    padding:6px;
    color:brown;
    background-color: transparent;
    font-weight: bold;
}
@media screen and (min-width:1200px){
    .header-contaniner{
    padding:20px 20px;
}
.header-tryForFree-button{
    margin:0px;
    
    border-radius: 12px;
    padding:8px;
    
}
.header-logout-button{
    margin:0px;
    margin-left:10px;
    border-radius: 12px;
    padding:8px;
    
}
}